<ul class='container'>
    <li *ngFor="let country of countriesList" class='country'>
        <div>{{country}}({{allCountries[country].length}})</div>
        <ul class='cities-list'>
            <li *ngFor="let city of allCountries[country]">
                <a [routerLink]="['/city', city.id]">{{city.name}}</a>
            </li>
        </ul>
    </li>
</ul>