<div>
  <div>
    <ul *ngIf="customer">
      <li>Name: {{customer.CompanyName}}</li>
      <li>Contact: {{customer.ContactName}}</li>
      <li>Contact title: {{customer.ContactTitle}}</li>
      <li>Address: {{customer.Address}}</li>
      <li>City: {{customer.City}}</li>
      <li>Postal code: {{customer.PostalCode}}</li>
      <li>Country: {{customer.Country}}</li>
      <li>Phone: {{customer.Phone}}</li>
      <li>Fax: {{customer.Fax}}</li>
    </ul>
  </div>
  <div #gmap id="map"></div>
</div>